{% extends "base_Monitoring_&_Control.html" %}
{% block title %}
    HỆ THỐNG GIÁM SÁT VÀ TƯỚI CHÈ HTX THÁI MINH
{% endblock title %}
{% block content %}
<div class="col-10 pl-5" style="height:100%;" id="Sys_info">
    <div class="container pt-4" style="padding-left:0px !important; margin-left:0px !important;">
        <h4 class="text-left">
            <i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp; Trạng thái môi trường
        </h4>
    </div>
    <div class="row row-cols-sm-4">
        <div class="col-sm-3 mb-2">
            <div class="card shadow-lg p-3 rounded">
                <div class="card-body text-white" style="background-color:#D92027 !important">
                    <p class="card-text float-end" style="font-size:33px;" id="temperature_data"></p>
                    <span>
                        <i class="fa fa-thermometer-quarter fa-4x float-sm-left" aria-hidden="true"></i>
                        <p class="card-text" style="font-size: 20px;"><br>Nhiệt độ</p>
                    </span>
                    {{nhiet_do_dat}} ºC
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-2">
            <div class="card shadow-lg p-3 rounded">
                <div class="card-body text-white" style="background-color:#FF9A00 !important">
                    <p class="card-text float-end" id="light_data" style="font-size: 23px; font-weight: bold;"></p>
                    <span>
                        <span class="pH">pH</span>
                        <p class="card-text" style="font-size: 20px;"><br>Độ pH</p>
                    </span>
                    {{do_ph}}
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-2">
            <div class="card shadow-lg p-3 rounded">
                <div class="card-body text-white" style="background-color:#23364b !important">
                    <p class="card-text float-end" id="tank_data" style="font-size:33px;"></p>
                    <span>
                        <i class="fa fa-codepen fa-4x float-sm-left" aria-hidden="true"></i>
                        <p class="card-text" style="font-size: 20px;"><br>Bể nước</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-2">
            <div class="card shadow-lg p-3 rounded">
                <div class="card-body text-white" style="background-color:#556FB5 !important">
                    <p class="card-text float-end" style="font-size:33px;" id="air-humid"></p>
                    <span>
                        <i class="fa fa-tint fa-4x float-sm-left pb-2" aria-hidden="true"></i>
                        <p class="card-text text-left" style="font-size: 20px;"><br>Độ ẩm không khí</p>
                    </span>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3" style="padding-left:0px !important; margin-left:0px !important;">
        <h4 class="text-left">
            <i class="fas fa-cloud-rain" aria-hidden="true"></i>&nbsp; Độ ẩm các khu vực
        </h4>
    </div>
    <div class="row row-cols-sm-4">
        <div class="col-sm-3 mb-2">
            <div class="card shadow-lg p-3 rounded">
                <div class="card-body text-white" style="background-color: #0d6efd; padding:5px !important">
                    <div class="float-sm-left" style="display:flex;vertical-align: top !important; text-align: left !important; border-radius: 50%; border-color: #fde50d;border-style:groove; border-top: none; border-left: none; width: 60px;height: 60px;">
                        <i class="fa fa-tint fa-2x m-3 mb-4" aria-hidden="true" style="margin-left:20px !important; flex-direction: row;"></i>
                        <p class="card-text text-center" style="font-size:33px; flex-direction: row;padding-left: 40px;" id="kv1_humid_data_display"></p>
                    </div>
                    <span>
                        <p class="card-text text-center" style="font-size: 20px;padding-left: 20px;;">Khu vực 1</p>
                        {{do_am_dat}} %
                    </span>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-2 blur">
            <div class="card shadow-lg p-3 rounded">
                <div class="card-body text-white" style="background-color: #0d6efd; padding:5px !important">
                    <div class="float-sm-left" style="display:flex;vertical-align: top !important; text-align: left !important; border-radius: 50%; border-color: #fde50d;border-style:groove; border-top: none; border-left: none; width: 60px;height: 60px;">
                        <i class="fa fa-tint fa-2x m-3 mb-4" aria-hidden="true" style="margin-left:20px !important; flex-direction: row;"></i>
                        <p class="card-text text-center" style="font-size:33px; flex-direction: row;padding-left: 40px;" id="kv2_humid_data_display"></p>
                    </div>
                    <span>
                        <p class="card-text text-center" style="font-size: 20px;padding-left: 20px;;">Khu vực 2</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-2 blur">
            <div class="card shadow-lg p-3 rounded">
                <div class="card-body text-white" style="background-color: #0d6efd; padding:5px !important">
                    <div class="float-sm-left" style="display:flex;vertical-align: top !important; text-align: left !important; border-radius: 50%; border-color: #fde50d;border-style:groove; border-top: none; border-left: none; width: 60px;height: 60px;">
                        <i class="fa fa-tint fa-2x m-3 mb-4" aria-hidden="true" style="margin-left:20px !important; flex-direction: row;"></i>
                        <p class="card-text text-center" style="font-size:33px; flex-direction: row;padding-left: 40px;" id="kv3_humid_data_display"></p>
                    </div>
                    <span>
                        <p class="card-text text-center" style="font-size: 20px;padding-left: 20px;;">Khu vực 3</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-2 blur">
            <div class="card shadow-lg p-3 rounded">
                <div class="card-body text-white" style="background-color: #0d6efd; padding:5px !important">
                    <div class="float-sm-left" style="display:flex;vertical-align: top !important; text-align: left !important; border-radius: 50%; border-color: #fde50d;border-style:groove; border-top: none; border-left: none; width: 60px;height: 60px;">
                        <i class="fa fa-tint fa-2x m-3 mb-4" aria-hidden="true" style="margin-left:20px !important; flex-direction: row;"></i>
                        <p class="card-text text-center" style="font-size:33px; flex-direction: row;padding-left: 40px;" id="kv4_humid_data_display"></p>
                    </div>
                    <span>
                        <p class="card-text text-center" style="font-size: 20px;padding-left: 20px;;">Khu vực 4</p>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-sm-4 water and pump">
        <div class="col-sm-3">
            <div class="container" style="padding-top:20px;padding-left:0px !important; margin-left:0px !important;">
                <h4 class="text-left">
                    <i class="fas fa-water" aria-hidden="true"></i>&nbsp; Chế độ tưới
                </h4>
            </div>
            <div class="card">
                <div class="card-body" style="padding-bottom: 0px !important;">
                    <table class="table table-success">
                        <tbody>
                            <thead>
                                <tr>
                                    <th>Khu vực</th>
                                    <th>Phun mưa</th>
                                    <th>Phun sương</th>
                                    <th>Nhỏ giọt</th>
                                </tr>
                            </thead>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>
                                        <input id="kv1_ps_status" type="checkbox" style="width: 16px; height: 16px;" checked>
                                    </td>
                                    <td>
                                        <input id="kv1_ng_status" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                    <td>
                                        <input id="kv1_ng_status" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>
                                        <input id="kv2_ps_status" type="checkbox" style="width: 16px; height: 16px;" checked>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="kv2_ng_status" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                    <td>
                                        <input id="kv1_ng_status" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>
                                        <input id="kv3_ps_status" type="checkbox" style="width: 16px; height: 16px;" checked>
                                    </td>
                                    <td>
                                        <input id="kv3_ng_status" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                    <td>
                                        <input id="kv1_ng_status" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                </tr>
                                <!--class="blur"-->
                                <tr>
                                    <th scope="row">4</th>
                                    <td>
                                        <input id="kv4_ps_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" checked>
                                    </td>
                                    <td>
                                        <input id="kv4_ng_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                    <td>
                                        <input id="kv1_ng_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="container" style="padding-top:20px;padding-left:0px !important; margin-left:0px !important;">
                <h4 class="text-left">
                    <i class="fas fa-faucet" aria-hidden="true"></i>&nbsp; Trạng thái bơm/Van
                </h4>
            </div>
            <div class="card text-center pump">
                <div class="card-body">
                    <table class="table table-success">
                        <tbody>
                            <tr>
                                <td>Máy bơm 1</td>
                                <td id="pump1_status"></td>
                            </tr>
                            <tr>
                                <td>Van 1</td>
                                <td id="Valve_1_pump_1"></td>
                            </tr>
                            <tr>
                                <td>Van 2</td>
                                <td id="Valve_2_pump_1"></td>
                            </tr>
                            <tr>
                                <td>Van 3</td>
                                <td id="Valve_3_pump_1"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% comment %} <div class="col-sm-3">
            <div class="container" style="padding-top:20px;padding-left:0px !important; margin-left:0px !important;">
                <h4 class="text-left">
                    <i class="fas fa-faucet" aria-hidden="true"></i>&nbsp; Trạng thái bơm/Van
                </h4>
            </div>
            <div class="card text-center pump">
                <div class="card-body">
                    <table class="table table-success">
                        <tbody>
                            <tr>
                                <td>Máy bơm 1</td>
                                <td id="pump1_status">ON</td>
                            </tr>
                            <tr>
                                <td>Van 1</td>
                                <td id="pump2_status"></td>
                            </tr>
                            <tr>
                                <td>Van 2</td>
                                <td id="pump2_status"></td>
                            </tr>
                            <tr>
                                <td>Van 3</td>
                                <td id="pump2_status"></td>
                            </tr>
                            <tr>
                                <td>Van 4</td>
                                <td id="pump2_status"></td>
                            </tr>
                            <tr>
                                <td>Van 5</td>
                                <td id="pump2_status"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> {% endcomment %}
        {% comment %} <div class="col-sm-3">
            <div class="container" style="padding-top:20px;padding-left:0px !important; margin-left:0px !important;">
                <h4 class="text-left">
                     <p style="padding: 9px 0;"></p>
                </h4>
            </div>
            <div class="card text-center pump">
                <div class="card-body">
                    <table class="table table-success">
                        <tbody>
                            <tr>
                                <td>Máy bơm 1</td>
                                <td id="pump1_status">ON</td>
                            </tr>
                            <tr>
                                <td>Van 6</td>
                                <td id="pump2_status"></td>
                            </tr>
                            <tr>
                                <td>Van 7</td>
                                <td id="pump2_status"></td>
                            </tr>
                            <tr>
                                <td>Van 8</td>
                                <td id="pump2_status"></td>
                            </tr>
                            <tr>
                                <td>Van 9</td>
                                <td id="pump2_status"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> {% endcomment %}

        {% comment %} <div class="col-sm-3">
            <div class="container" style="padding-top:20px;padding-left:0px !important; margin-left:0px !important;">
                <h4 class="text-left">
                    <i class="fas fa-faucet" aria-hidden="true"></i>&nbsp; Trạng thái bơm
                </h4>
            </div>
            <div class="card text-center pump">
                <div class="card-body">
                    <table class="table table-success">
                        <tbody>
                            <tr>
                                <td>Máy bơm 2</td>
                                <td id="pump1_status">ON</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- <div class="col-sm-3">
            <div class="container" style="padding-top:20px;padding-left:0px !important; margin-left:0px !important;">
                <h4 class="text-left">
                    <i class="fas fa-wind" aria-hidden="true"></i>&nbsp; Hệ thống làm mát
                </h4>
            </div>
            <div class="card text-center pump">
                <div class="card-body">
                    <table class="table table-success">
                        <tbody>
                            <tr>
                                <td>Quạt</td>
                                <td id="cool_stt"></td>
                            </tr>
                            <tr>
                                <td>Phun sương</td>
                                <td id="cool_ps"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
        <div class="col-sm-3">
            <div class="container" style="padding-top:20px;padding-left:0px !important; margin-left:0px !important;">
                <h4 class="text-left">
                    <i class="fas fa-tools" aria-hidden="true"></i>&nbsp;Chế độ hoạt động
                </h4>
            </div>
                <div class="card text-center pump">
                <div class="card-body">
                    <table class="table table-success">
                        <tbody>
                            <tr>
                            <td id="sys_mode"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <script>
                {% if che_do_hoat_dong == 1 %}
                    document.getElementById("sys_mode").innerHTML = "Tự động"
                {% elif che_do_hoat_dong == 2 %}
                    document.getElementById("sys_mode").innerHTML = "Hằng ngày"
                {% elif che_do_hoat_dong == 3 %}
                    document.getElementById("sys_mode").innerHTML = "Bằng tay"
                {% endif %}
                {% if trang_thai_van_khu_vuc_1 == 0 %}
                    document.getElementById("Valve_1_pump_1").innerHTML = "Off"
                {% elif trang_thai_van_khu_vuc_1 == 1 %}
                    document.getElementById("Valve_1_pump_1").innerHTML = "On"
                {% endif %}
                {% if trang_thai_van_khu_vuc_2 == 0 %}
                    document.getElementById("Valve_2_pump_1").innerHTML = "Off"
                {% elif trang_thai_van_khu_vuc_2 == 1 %}
                    document.getElementById("Valve_2_pump_1").innerHTML = "On"
                {% endif %}
                {% if trang_thai_van_khu_vuc_3 == 0 %}
                    document.getElementById("Valve_3_pump_1").innerHTML = "Off"
                {% elif trang_thai_van_khu_vuc_2 == 1 %}
                    document.getElementById("Valve_3_pump_1").innerHTML = "On"
                {% endif %}
                {% if trang_thai_bom == 0 %}
                    document.getElementById("pump1_status").innerHTML = "Off"
                {% elif trang_thai_bom == 1 %}
                    document.getElementById("pump1_status").innerHTML = "On"
                {% endif %}
            </script>
        </div>
    </div>
</div>
{% endblock content %}