{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Home_Style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/thermometer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reponsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/chart.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/v4-shims.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <title>HỆ THỐNG TƯỚI THÔNG MINH</title>
    <style>
        .blur {
            opacity: 0.5;
        }
        .dc {
            pointer-events: none;
        }

        
    </style>
    {% block link_css %}{% endblock link_css %}
</head>
<body>
    <div class="jumbotron" style="background-color: #81b214">
        <h2 class="pt-4 text-center pull-left">
           HỆ THỐNG GIÁM SÁT VÀ TƯỚI CHÈ TRÊN CÁC ĐỊA BÀN TỈNH THÁI NGUYÊN
        </h2>
        <hr class="my-4" />
        <h5 class="pb-4 text-center" style="margin: 0">
            Đơn vị thực hiện: Trung tâm nghiên cứu và phát triển công nghệ - Đại học Kỹ Thuật Công Nghiệp Thái Nguyên
        </h5>
    </div>


    <div class="content row" style="height: 100%; width: 100%" id="content-page">
        <div class="col-2" style="min-height: 100%; margin-right: 0px !important" id="sidemenu">
            <div class="container-fluid p-0" style="height: 100%">
                <div class="row" id="body-row">
                    <div id="sidebar-container" class="sidebar-expanded d-md-block">
                        <ul class="list-group">
                            <a data-toggle="sidebar-colapse" class=" bg-dark list-group-item list-group-item-action d-flex align-items-center mb-1 border-0" id="menu-btn">
                                <div class=" d-flex w-100 justify-content-start align-items-center">
                                    &nbsp;&nbsp;
                                    <span id="collapse-icon" class="fas fa-bars fa-2x mr-3"></span>
                                    <span class="menu-collapsed">
                                        &nbsp;&nbsp;Bảng chọn
                                    </span>
                                </div>
                            </a>
                            <hr style="margin-top: 0" />
                            <li class=" list-group-item sidebar-separator-title text-muted d-flex align-items-center border-0 menu-collapsed">
                                <span style="font-size: 16px; color: #111010a4 !important">CHỌN KHU VỰC</span>
                            </li>
                            <a href="{% url "location_HTML" %}" aria-expanded="false" class=" bg-dark list-group-item list-group-item-action flex-column align-items-start mb-2 border-0">
                                <div class=" d-flex w-100 justify-content-start align-items-center">
                                    &nbsp;&nbsp;<span class="fa fa-map-marked fa-2x mr-3"></span>
                                    <span class="menu-collapsed"> &nbsp;&nbsp;Danh Sách khu vực</spaZn>
                                    <span class="submenu-icon ml-auto"></span>
                                </div>
                            </a>
                            <!-- Info -->
                            <hr style="margin-top: 0" />
                            <li class=" list-group-item sidebar-separator-title text-muted d-flex align-items-center border-0 menu-collapsed">
                                <span style="font-size: 16px; color: #111010a4 !important">THÔNG TIN</span>
                            </li>
                            <a href="{% url "info_HTML" %}" aria-expanded="false" class=" bg-dark list-group-item list-group-item-action flex-column align-items-start mb-3 border-0">
                                <div class=" d-flex w-100 justify-content-start align-items-center">
                                    &nbsp;&nbsp;<span class="fa fa-info-circle fa-2x mr-3"></span>
                                    <span class="menu-collapsed">
                                        &nbsp;&nbsp;Thông tin hệ thống
                                    </span>
                                    <span class="submenu-icon ml-auto"></span>
                                </div>
                            </a>
                            <hr style="margin-top: 0" />
                            <li class=" list-group-item sidebar-separator-title text-muted d-flex align-items-center border-0 menu-collapsed">
                                <span style="font-size: 16px; color: #111010a4 !important">CHỌN CHẾ ĐỘ</span>
                            </li>
                            <!-- Home -->

                            <a href="{% url "home_HTML" %}" aria-expanded="false" class=" bg-dark list-group-item list-group-item-action flex-column align-items-start mb-2 mt-2 border-0">
                                <div class=" d-flex w-100 justify-content-start align-items-center">
                                    &nbsp;&nbsp;<span class="fa fa-cogs fa-2x mr-3"></span>
                                    <span class="menu-collapsed">
                                        &nbsp;&nbsp;Chế độ tự động</span>
                                    <span class="submenu-icon ml-auto"></span>
                                </div>
                            </a>
                            <!-- Daily -->

                            <a href="{% url "daily_HTML" %}" aria-expanded="false" class=" bg-dark list-group-item list-group-item-action flex-column align-items-start mb-2 border-0">
                                <div class=" d-flex w-100 justify-content-start align-items-center">
                                    &nbsp;&nbsp;<span class="fa fa-calendar fa-2x mr-3"></span>
                                    <span class="menu-collapsed">
                                        &nbsp;&nbsp;Chế độ hằng ngày</span>
                                    <span class="submenu-icon ml-auto"></span>
                                </div>
                            </a>
                            <!-- Submenu content -->
                            <!-- Pump -->
                            <a href="{% url "pump_HTML" %}" aria-expanded="false" class=" bg-dark list-group-item list-group-item-action flex-column align-items-start mb-2 border-0">
                                <div class=" d-flex w-100 justify-content-start align-items-center">
                                    &nbsp;&nbsp;<span class="fa fa-wrench fa-2x mr-3"></span>
                                    <span class="menu-collapsed">
                                        &nbsp;&nbsp;Chế độ bằng tay</span>
                                    <span class="submenu-icon ml-auto"></span>
                                </div>
                            </a>
                            <!-- Cool -->
                            <!-- <a href="" aria-expanded="false" class=" bg-dark list-group-item list-group-item-action flex-column align-items-start mb-2 border-0">
                                <div class=" d-flex w-100 justify-content-start align-items-center ">
                                    &nbsp;&nbsp;<span class="fas fa-stroopwafel fa-2x mr-3"></span>
                                    <span class="menu-collapsed">
                                        &nbsp;&nbsp;Chế độ làm mát</span>
                                    <span class="submenu-icon ml-auto"></span>
                                </div>
                            </a>
                            <hr style="margin-top: 0" />
                            <li class=" list-group-item sidebar-separator-title text-muted d-flex align-items-center border-0 menu-collapsed">
                                <span style="font-size: 16px; color: #111010a4 !important">THỐNG KÊ</span>
                            </li> -->
                            <!-- Stats -->
                            <a href="{% url "Stats_HTML" %}" aria-expanded="false" class=" bg-dark list-group-item list-group-item-action flex-column align-items-start mb-2 border-0">
                                <div class=" d-flex w-100 justify-content-start align-items-center">
                                    &nbsp;&nbsp;<span class="fa fa-bar-chart fa-2x mr-3"></span>
                                    <span class="menu-collapsed"> &nbsp;&nbsp;Biểu đồ</span>
                                    <span class="submenu-icon ml-auto"></span>
                                </div>
                            </a>



                            <div id="acc_user">
                                <hr style="margin-top: 0" />
                                <li class=" list-group-item sidebar-separator-title text-muted d-flex align-items-center border-0 menu-collapsed">
                                    <span style="font-size: 16px; color: #111010a4 !important;">TÀI KHOẢN</span>
                                </li>
                                <a href="{% url "user_HTML" %}" aria-expanded="false" class=" bg-dark list-group-item list-group-item-action flex-column align-items-start mb-2 border-0">
                                    <div class=" d-flex w-100 justify-content-start align-items-center">
                                        &nbsp;&nbsp;<span class="fa fa-user fa-2x mr-3"></span>
                                        <span class="menu-collapsed"> &nbsp;&nbsp;Quản lý tài khoản</span>
                                        <span class="submenu-icon ml-auto"></span>
                                    </div>
                                </a>
                            </div>
                            
                            <hr style="margin-top: 0" />
                            <a href="{% url "logout" %}" class="list-group-item list-group-item-action border-0"
                                style="background-color: rgb(173, 29, 29); color: whitesmoke" id="logout">
                                <div class=" d-flex w-100 justify-content-start align-items-center ">
                                    &nbsp;&nbsp;<span class="fa fa-sign-out fa-2x mr-3"></span>
                                    <span class="menu-collapsed">&nbsp;&nbsp;Đăng xuất</span>
                                </div>
                            </a>




                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var acc_user_ = document.getElementById("acc_user");

            {% for item in filter %}
                {% if item.Area == "Quản trị" or item.Area == "Giám sát"%}
                    acc_user_.style.display = "block";
                {% else %}
                    acc_user_.style.display = "none";
                {% endif %}
            {% endfor %}
        </script>
        
        {% block content %}{% endblock content %}
    </div>

    <footer class="text-center text-lg-start bg-light text-muted mt-1">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="h5 me-5 d-none d-lg-block">
                <span class="text-uppercase fw-bold">Thông tin liên hệ:</span>
            </div>
            <div class="row row-footer" style="width: 60%">
                <span class="col-lg-6 text-reset"><i class="fas fa-home me-3"></i>Trung tâm nghiên cứu và phát triển công nghệ</span>
                <span class="col-lg-3 text-reset"><i class="fas fa-phone me-3"></i>0912.347.222</span>
                <span class="col-lg-3 text-reset"><i class="fas fa-phone me-3"></i>0965.869.293</span>
            </div>
        </section>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
            Copyright © 2021 CTD
            <a class="text-reset fw-bold"></a>
        </div>
    </footer>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
</body>
</html>