{% extends "base.html" %}
{% load static %}

{% block content %}
    <h4 class="text-left">
        <i class="fa fa-tachometer mx-3" aria-hidden="true"></i>Trạng thái môi trường
    </h4>
    <div class="row row-cols-sm-4">
        <div class="col-sm-3 mb-2">
            <div class="card shadow-lg p-3 rounded">
                <div class="card-body text-white" style="background-color: #0d6efd; padding:5px !important">
                    <div class="float-sm-left" style="display:flex;vertical-align: top !important; text-align: left !important; border-radius: 50%; border-color: #fde50d;border-style:groove; border-top: none; border-left: none; width: 60px;height: 60px;">
                        <i class="fa fa-tint fa-2x m-3 mb-4" aria-hidden="true" style="margin-left:20px !important; flex-direction: row;"></i>
                        <p class="card-text text-center" style="font-size:30px; flex-direction: row; padding-left: 40px; font-weight: bold;" id="kv1_humid_data_display">{{do_am_dat}}%</p>
                    </div>
                    <span>
                        <p class="card-text text-center" style="font-size: 20px;padding-left: 20px;;">Độ ẩm đất</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-2 blur">
            <div class="card shadow-lg p-3 rounded">
                <div class="card-body text-white" style="background-color: #0d6efd; padding:5px !important">
                    <div class="float-sm-left" style="display:flex;vertical-align: top !important; text-align: left !important; border-radius: 50%; border-color: #fde50d;border-style:groove; border-top: none; border-left: none; width: 60px;height: 60px;">
                        <i class="fa fa-tint fa-2x m-3 mb-4" aria-hidden="true" style="margin-left:20px !important; flex-direction: row;"></i>
                        <p class="card-text text-center" style="font-size:33px; flex-direction: row;padding-left: 40px; font-weight: bold;" id="kv2_humid_data_display"></p>
                    </div>
                    <span>
                        <p class="card-text text-center" style="font-size: 20px;padding-left: 20px;;">Khu vực 2</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-2 blur">
            <div class="card shadow-lg p-3 rounded">
                <div class="card-body text-white" style="background-color: #0d6efd; padding:5px !important">
                    <div class="float-sm-left" style="display:flex;vertical-align: top !important; text-align: left !important; border-radius: 50%; border-color: #fde50d;border-style:groove; border-top: none; border-left: none; width: 60px;height: 60px;">
                        <i class="fa fa-tint fa-2x m-3 mb-4" aria-hidden="true" style="margin-left:20px !important; flex-direction: row;"></i>
                        <p class="card-text text-center" style="font-size:33px; flex-direction: row; padding-left: 40px; font-weight: bold;" id="kv3_humid_data_display"></p>
                    </div>
                    <span>
                        <p class="card-text text-center" style="font-size: 20px;padding-left: 20px;;">Khu vực 3</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-2 blur">
            <div class="card shadow-lg p-3 rounded">
                <div class="card-body text-white" style="background-color: #0d6efd; padding:5px !important">
                    <div class="float-sm-left" style="display:flex;vertical-align: top !important; text-align: left !important; border-radius: 50%; border-color: #fde50d;border-style:groove; border-top: none; border-left: none; width: 60px;height: 60px;">
                        <i class="fa fa-tint fa-2x m-3 mb-4" aria-hidden="true" style="margin-left:20px !important; flex-direction: row;"></i>
                        <p class="card-text text-center" style="font-size:33px; flex-direction: row; padding-left: 40px; font-weight: bold;" id="kv4_humid_data_display"></p>
                    </div>
                    <span>
                        <p class="card-text text-center" style="font-size: 20px;padding-left: 20px;;">Khu vực 4</p>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-sm-4">
        <div class="col-sm-3 mb-2">
            <div class="card shadow-lg p-3 rounded">
                <div class="card-body text-white" style="background-color:#D92027 !important">
                    <p class="card-text float-end" style="font-size: 33px; font-weight: bold;" id="temperature_data">{{nhiet_do_dat}} ºC</p>
                    <span>
                        <i class="fa fa-thermometer-quarter fa-4x float-sm-left" aria-hidden="true"></i>
                        <p class="card-text" style="font-size: 20px;"><br>Nhiệt độ đất</p>
                    </span>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-2">
            <div class="card shadow-lg p-3 rounded">
                <div class="card-body text-white" style="background-color:#FF9A00 !important">
                    <p class="card-text float-end" id="light_data" style="font-size: 33px; font-weight: bold;">{{do_ph}}</p>
                    <span>
                        <i class="fa fa-thermometer-empty fa-4x float-sm-left" aria-hidden="true"></i>
                        <p class="card-text" style="font-size: 20px;"><br>Độ pH đất</p>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-sm-4">
        <div class="col-sm-3">
            <div class="container">
                <h4 class="text-left">
                    <i class="fas fa-water mx-3" aria-hidden="true"></i>Chế độ tưới
                </h4>
            </div>
            <div class="card">
                <div class="card-body" style="padding-bottom: 0px !important;">
                    <table class="table table-success">
                        <tbody>
                            <thead>
                                <tr>
                                    <th>Khu vực</th>
                                    <th>Phun mưa</th>
                                    <th>Phun sương</th>
                                    <th>Nhỏ giọt</th>
                                </tr>
                            </thead>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>
                                        <input id="kv1_ps_status" type="checkbox" style="width: 16px; height: 16px;" checked>
                                    </td>
                                    <td>
                                        <input id="kv1_ng_status" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                    <td>
                                        <input id="kv1_ng_status" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>
                                        <input id="kv2_ps_status" type="checkbox" style="width: 16px; height: 16px;" checked>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="kv2_ng_status" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                    <td>
                                        <input id="kv1_ng_status" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>
                                        <input id="kv3_ps_status" type="checkbox" style="width: 16px; height: 16px;" checked>
                                    </td>
                                    <td>
                                        <input id="kv3_ng_status" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                    <td>
                                        <input id="kv1_ng_status" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                </tr>
                                <!--class="blur"-->
                                <tr>
                                    <th scope="row">4</th>
                                    <td>
                                        <input id="kv4_ps_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" checked>
                                    </td>
                                    <td>
                                        <input id="kv4_ng_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                    <td>
                                        <input id="kv1_ng_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                    </td>
                                </tr>
                                {% comment %} {% if KheCoc == 'KheCoc' %}
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>
                                            <input id="kv5_ps_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" checked>
                                        </td>
                                        <td>
                                            <input id="kv5_ng_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                        </td>
                                        <td>
                                            <input id="kv5_ng_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>
                                            <input id="kv6_ps_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" checked>
                                        </td>
                                        <td>
                                            <input id="kv6_ng_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                        </td>
                                        <td>
                                            <input id="kv6_ng_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>
                                            <input id="kv7_ps_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" checked>
                                        </td>
                                        <td>
                                            <input id="kv7_ng_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                        </td>
                                        <td>
                                            <input id="kv7_ng_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>
                                            <input id="kv8_ps_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" checked>
                                        </td>
                                        <td>
                                            <input id="kv8_ng_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                        </td>
                                        <td>
                                            <input id="kv8_ng_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>
                                            <input id="kv9_ps_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" checked>
                                        </td>
                                        <td>
                                            <input id="kv9_ng_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                        </td>
                                        <td>
                                            <input id="kv9_ng_status" class="dc" type="checkbox" style="width: 16px; height: 16px;" disabled>
                                        </td>
                                    </tr>
                                {% endif %} {% endcomment %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="container">
                <h4 class="text-left mt-2">
                    <i class="fas fa-faucet mx-3" aria-hidden="true"></i>Trạng thái bơm/Van
                </h4>
            </div>
            <div class="card text-center pump">
                <div class="card-body">
                    <table class="table table-success">
                        <tbody class="fw-bold fs-6 text">
                            <tr>
                                <td>Máy bơm</td>
                                <td id="pump1_status"></td>
                            </tr>
                            <tr>
                                <td>Van 1</td>
                                <td id="Valve_1_pump_1"></td>
                            </tr>
                            <tr>
                                <td>Van 2</td>
                                <td id="Valve_2_pump_1"></td>
                            </tr>
                            <tr>
                                <td>Van 3</td>
                                <td id="Valve_3_pump_1"></td>
                            </tr>
                            {% if KheCoc == 'KheCoc' %}
                                <tr>
                                    <td>Van 4</td>
                                    <td id="Valve_4_pump_1"></td>
                                </tr>
                                {% comment %} <tr>
                                    <td>Van 5</td>
                                    <td id="Valve_5_pump_1"></td>
                                </tr>
                                <tr>
                                    <td>Van 6</td>
                                    <td id="Valve_6_pump_1"></td>
                                </tr>
                                <tr>
                                    <td>Van 7</td>
                                    <td id="Valve_7_pump_1"></td>
                                </tr>
                                <tr>
                                    <td>Van 8</td>
                                    <td id="Valve_8_pump_1"></td>
                                </tr> {% endcomment %}

                                <script>
                                    {% if trang_thai_van_khu_vuc_4 == 0 %}
                                    document.getElementById("Valve_4_pump_1").innerHTML = "Off"
                                    {% elif trang_thai_van_khu_vuc_4 == 1 %}
                                        document.getElementById("Valve_4_pump_1").innerHTML = "On"
                                    {% endif %}
                                    {% comment %} {% if trang_thai_van_khu_vuc_5 == 0 %}
                                    document.getElementById("Valve_5_pump_1").innerHTML = "Off"
                                    {% elif trang_thai_van_khu_vuc_5 == 1 %}
                                        document.getElementById("Valve_5_pump_1").innerHTML = "On"
                                    {% endif %} {% endcomment %}
                                    {% comment %} {% if trang_thai_van_khu_vuc_6 == 0 %}
                                    document.getElementById("Valve_6_pump_1").innerHTML = "Off"
                                    {% elif trang_thai_van_khu_vuc_6 == 1 %}
                                        document.getElementById("Valve_6_pump_1").innerHTML = "On"
                                    {% endif %} {% endcomment %}
                                    {% comment %} {% if trang_thai_van_khu_vuc_7 == 0 %}
                                    document.getElementById("Valve_7_pump_1").innerHTML = "Off"
                                    {% elif trang_thai_van_khu_vuc_7 == 1 %}
                                        document.getElementById("Valve_7_pump_1").innerHTML = "On"
                                    {% endif %} {% endcomment %}
                                    {% comment %} {% if trang_thai_van_khu_vuc_8 == 0 %}
                                    document.getElementById("Valve_8_pump_1").innerHTML = "Off"
                                    {% elif trang_thai_van_khu_vuc_8 == 1 %}
                                        document.getElementById("Valve_8_pump_1").innerHTML = "On"
                                    {% endif %} {% endcomment %}
                                </script>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% comment %} {% if KheCoc == 'KheCoc' %}
            <div class="col-sm-3">
                <div class="container">
                    <h4 class="text-left mt-2">
                        <i class="fas fa-faucet mx-3" aria-hidden="true"></i>Trạng thái bơm/Van
                    </h4>
                </div>
                <div class="card text-center pump">
                    <div class="card-body">
                        <table class="table table-success">
                            <tbody class="fw-bold fs-6 text">
                                <tr>
                                    <td>Máy bơm 2</td>
                                    <td id="pump2_status">Off</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <script>
                {% if trang_thai_bom_2 == 0 %}
                    document.getElementById("pump2_status").innerHTML = "Off"
                {% elif trang_thai_bom_2 == 1 %}
                    document.getElementById("pump2_status").innerHTML = "On"
                {% endif %}
            </script>
        {% endif %} {% endcomment %}
        

        <div class="col-sm-3">
            <div class="container">
                <h4 class="text-left mt-2">
                    <i class="fas fa-tools mx-3" aria-hidden="true"></i>Chế độ hoạt động
                </h4>
            </div>
            <div class="card text-center pump">
                <div class="card-body">
                    <table class="table table-success">
                        <tbody>
                            <tr>
                                <td id="sys_mode" class="fw-bold fs-6 text"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        {% if che_do_hoat_dong == 1 %}
            document.getElementById("sys_mode").innerHTML = "Tự động"
        {% elif che_do_hoat_dong == 2 %}
            document.getElementById("sys_mode").innerHTML = "Hằng ngày"
        {% elif che_do_hoat_dong == 3 %}
            document.getElementById("sys_mode").innerHTML = "Bằng tay"
        {% endif %}

        {% if trang_thai_van_khu_vuc_1 == 0 %}
            document.getElementById("Valve_1_pump_1").innerHTML = "Off"
        {% elif trang_thai_van_khu_vuc_1 == 1 %}
            document.getElementById("Valve_1_pump_1").innerHTML = "On"
        {% endif %}
        {% if trang_thai_van_khu_vuc_2 == 0 %}
            document.getElementById("Valve_2_pump_1").innerHTML = "Off"
        {% elif trang_thai_van_khu_vuc_2 == 1 %}
            document.getElementById("Valve_2_pump_1").innerHTML = "On"
        {% endif %}
        {% if trang_thai_van_khu_vuc_3 == 0 %}
            document.getElementById("Valve_3_pump_1").innerHTML = "Off"
        {% elif trang_thai_van_khu_vuc_3 == 1 %}
            document.getElementById("Valve_3_pump_1").innerHTML = "On"
        {% endif %}
        {% if trang_thai_bom_1 == 0 %}
            document.getElementById("pump1_status").innerHTML = "Off"
        {% elif trang_thai_bom_1 == 1 %}
            document.getElementById("pump1_status").innerHTML = "On"
        {% endif %}
    </script>
    
{% endblock content %}