{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-10 pl-5" style="height:100%; min-height:501px;" id="Sys_info">
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận thay đổi chế độ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn đang dùng chế độ ..., ấn xác nhận để chuyển sang chế độ
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" id="confirm-mode">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-2">
        <div class="col-xl-8" style="padding-right:5%;">
            <img src="{% static 'image/pump-2.png' %}" alt="Responsive image" id="pump-img" style="width:100%;">
        </div>
        <div class="col-xl-4">
            <div class="container"
                style="padding-top:20px;padding-left:0px !important; margin-left:0px !important;">
                <h4 class="text-left">
                    <i class="fas fa-user-cog" aria-hidden="true"></i>&nbsp; Bảng điều khiển
                </h4>
            </div>
            <div class="container"
                style="border-style: outset; border-color: black; background-color:#ffff80;">
                <div class="row row-cols-2">
                    <div class="col" style="display: flex;align-items: center; border-style:groove; border-color: black;border-top: 0px;
                    border-bottom: 0px; border-left: 0px;">
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Bơm</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="pump">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 1</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_1">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 2</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_2">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">Van
                                3</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_3">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4 pb-4 blur">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 4</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch dc">
                                    <input type="checkbox" id="van_4">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="container"
                style="border-style: outset; border-color: black; background-color:#ffff80;">
                <div class="row row-cols-2">
                    <div class="col" style="display: flex;align-items: center; border-style:groove; border-color: black;border-top: 0px;
                    border-bottom: 0px; border-left: 0px;">
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Bơm 1</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="pump">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 1</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_1">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 2</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_2">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">Van
                                3</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_3">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4 blur">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 4</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch dc">
                                    <input type="checkbox" id="van_4">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 5</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_1">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 6</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_2">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">Van
                                7</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_3">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4 blur">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 8</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch dc">
                                    <input type="checkbox" id="van_4">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4 pb-4 blur">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 9</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch dc">
                                    <input type="checkbox" id="van_4">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="container"
                style="border-style: outset; border-color: black; background-color:#ffff80;">
                <div class="row row-cols-2">
                    <div class="col" style="display: flex;align-items: center; border-style:groove; border-color: black;border-top: 0px;
                    border-bottom: 0px; border-left: 0px;">
                        <div class="row pt-4 pb-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Bơm 2</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="pump">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}