{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-12 pl-5" style="height:100%; min-height:501px;" id="Sys_info">
    <div class="row row-cols-lg-2">
        <div class="col-xl-8" style="padding-right:5%;">
            <img src="{% static 'image/pump-2.png' %}" alt="Responsive image" id="pump-img" style="width:100%;">
        </div>
        <div class="col-xl-4">
            <div class="container"
                style="padding-top:20px;padding-left:0px !important; margin-left:0px !important;">
                <h4 class="text-left">
                    <i class="fas fa-user-cog" aria-hidden="true"></i>&nbsp; Bảng điều khiển
                </h4>
            </div>
            <div class="container"
                style="border-style: outset; border-color: black; background-color:#ffff80;">
                <div class="row row-cols-2">
                    <div class="col" style="display: flex;align-items: center; border-style:groove; border-color: black;border-top: 0px;
                    border-bottom: 0px; border-left: 0px;">
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Bơm</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="pump" name="pump">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 1</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_1" name="van_1">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 2</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_2" name="van_2">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">Van
                                3</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_3" name="van_3">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4 pb-4 blur">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 4</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch dc">
                                    <input type="checkbox" id="van_4">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            {% comment %} <div class="container"
                style="border-style: outset; border-color: black; background-color:#ffff80;">
                <div class="row row-cols-2">
                    <div class="col" style="display: flex;align-items: center; border-style:groove; border-color: black;border-top: 0px;
                    border-bottom: 0px; border-left: 0px;">
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Bơm 1</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="pump">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 1</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_1">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 2</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_2">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">Van
                                3</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_3">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4 blur">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 4</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch dc">
                                    <input type="checkbox" id="van_4">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 5</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_1">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 6</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_2">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">Van
                                7</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="van_3">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4 blur">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 8</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch dc">
                                    <input type="checkbox" id="van_4">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-4 pb-4 blur">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Van 9</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch dc">
                                    <input type="checkbox" id="van_4">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div> {% endcomment %}
            {% comment %} <div class="container"
                style="border-style: outset; border-color: black; background-color:#ffff80;">
                <div class="row row-cols-2">
                    <div class="col" style="display: flex;align-items: center; border-style:groove; border-color: black;border-top: 0px;
                    border-bottom: 0px; border-left: 0px;">
                        <div class="row pt-4 pb-4">
                            <span class="col"
                                style="font-size: 16px; padding-left:4px !important; padding-right:0px !important; display:flex;justify-content:center;align-items:center;">
                                Bơm 2</span>
                            <div class="col" style="display:flex;justify-content:center;align-items:center;">
                                <label class="switch">
                                    <input type="checkbox" id="pump">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
<script>

    {% if che_do_bang_tay_dieu_khien_bom == 1 %}
        document.getElementById("pump").checked = true;
    {% elif che_do_bang_tay_dieu_khien_bom == 0 %}
        document.getElementById("pump").checked = false;
    {% endif %}

    {% if che_do_dieu_khien_van_KV_1 == 1 %}
        document.getElementById("van_1").checked = true;
    {% elif che_do_dieu_khien_van_KV_1 == 0 %}
        document.getElementById("van_1").checked = false;
    {% endif %}

    {% if che_do_dieu_khien_van_KV_2 == 1 %}
        document.getElementById("van_2").checked = true;
    {% elif che_do_dieu_khien_van_KV_2 == 0 %}
        document.getElementById("van_2").checked = false;
    {% endif %}

    {% if che_do_dieu_khien_van_KV_3 == 1 %}
        document.getElementById("van_3").checked = true;
    {% elif che_do_dieu_khien_van_KV_3 == 0 %}
        document.getElementById("van_3").checked = false;
    {% endif %}

    $(document).ready(function() {
        $('#pump, #van_1, #van_2, #van_3').change(function() {
            var pumpChecked = $('#pump').is(':checked');
            var van1Checked = $('#van_1').is(':checked');
            var van2Checked = $('#van_2').is(':checked');
            var van3Checked = $('#van_3').is(':checked');

            // console.log(checkboxValue)

            if (van1Checked) {
                console.log('Van 1 bật đã được chọn');
            } else if (!van1Checked) {
                console.log('Van 1 tắt đã được chọn');
            }
            if (van2Checked) {
                console.log('Van 2 bật đã được chọn');
            } else if (!van2Checked) {
                console.log('Van 2 tắt đã được chọn');
            }
            if (van3Checked) {
                console.log('Van 3 bật đã được chọn');
            } else if (!van3Checked) {
                console.log('Van 3 tắt đã được chọn');
            }
            
            $.ajax({
                type: 'POST',
                url: '/pump_HTML/',
                data: {
                    'pump': pumpChecked ? 'on' : 'off', // Gửi 'on' nếu checked, rỗng nếu không
                    'van_1': van1Checked ? 'on' : 'off', // Gửi 'on' nếu checked, rỗng nếu không
                    'van_2': van2Checked ? 'on' : 'off', // Gửi 'on' nếu checked, rỗng nếu không
                    'van_3': van3Checked ? 'on' : 'off', // Gửi 'on' nếu checked, rỗng nếu không
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    console.log('Dữ liệu đã được gửi thành công.');
                    // Xử lý phản hồi từ Django views ở đây nếu cần
                },
                error: function(error) {
                    console.log('Đã có lỗi xảy ra:', error);
                }
            });
        });
    });
</script>
{% endblock content %}