{% extends "base.html" %}

{% block link_css %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock link_css %}

{% block content %}
<div class="col-10 pl-5" style="height:100%;" id="Sys_info">
    <table class="table table-striped">
        <div class="add-user">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#add">
                <span class="fa fa-plus"></span> Thêm
            </button>
        </div>

        <thead>
            <tr>
                <th>STT</th>
                <th>Tên tài khoản</th>
                <th>Tên hộ dân</th>
                <th>Vai trò</th>
                <th>Ngày tạo</th>
                <td></td>
            </tr>
        </thead>

        <tbody>
            {% for show in user_list %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <th>{{show.user}}</th>
                    <th>{{show.Household_Name}}</th>
                    <th>{{show.Area}}</th>
                    <th>{{show.Creat_day|date:"d-m-Y"}}</th>
                    <td>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit__{{show.id}}">Chỉnh sửa</button>
                        <button class="btn btn_del" data-bs-toggle="modal" data-bs-target="#del__{{show.id}}">Xoá</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% for i in user_list %}
    <form action="{% url 'manager_Delete' i.id %}" method="post">
        {% csrf_token %}
        <div class="modal fade" id="del__{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận?</h1>
                    </div>

                    <div class="modal-body">
                        Bạn xác nhận muốn xoá tài khoản {{i.user}}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary RELOAD" id="confirm">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endfor %}

{% for i in user_list %}
        <form action="/manager_Update/{{i.id}}" method="post">
            <div class="modal fade" id="edit__{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Chỉnh sửa thông tin</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label>Tên tài khoản</label>
                            <input name="edit_name" value="{{i.user}}" type="text" class="form-control" required>
                            <label>Tên hộ dân</label>
                            <input name="edit_Household" value="{{i.Household_Name}}" type="text" class="form-control" required>
                            <label>Khu vực</label>
                            <select name="edit_area" class="form-control" id="edit_area" required>
                                <option value="{{i.Area}}">{{i.Area}}</option>
                                <option value="Hợp tác xã Hảo Đạt">Hợp tác xã chè Hảo Đạt</option>
                                <option value="Hợp tác xã Thái Minh">Hợp tác xã chè Thái Minh</option>
                                <option value="Hợp tác xã Khe Cốc">Hợp tác xã chè Khe Cốc</option>
                                <option value="Quản trị">Quản trị</option>
                                <option value="Giám sát">Giám sát</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endfor %}


<div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm tài khoản</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <label for="id_name">Tên tài khoản:</label>
                        <input type="text" name="name" class="form-control" maxlength="100" id="id_name" required>
                    </p>
                    <p>
                        <label for="id_password">Mật khẩu:</label>
                        <input type="text" name="password" class="form-control" id="id_password" required>
                    </p>
                    <p>
                        <label for="id_Household">Tên hộ dân:</label>
                        <input type="text" name="Household" class="form-control" id="id_Household" required>
                    </p>
                    <p>
                        <label for="id_area">Khu vực:</label>
                        <select name="area" class="form-control" id="id_area" required>
                            <option value="" selected="">---------</option>
                            <option value="Hợp tác xã Hảo Đạt">Hợp tác xã chè Hảo Đạt</option>
                            <option value="Hợp tác xã Thái Minh">Hợp tác xã chè Thái Minh</option>
                            <option value="Hợp tác xã Khe Cốc">Hợp tác xã chè Khe Cốc</option>
                            <option value="Quản trị">Quản trị</option>
                            <option value="Giám sát">Giám sát</option>
                        </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Lưu" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}